   

    h1{
        color: blue;
    }

    #titulo{
        font-size: 30px;
        text-align:center ;
    }

    .texto{
        text-align: justify;
        font-size: 20px;
        color: blue;
       }

       body{
        background: #a880e9b0
    }

    .Contatos{
        background-image:linear-gradient(#45caff,  #00ff87);
    }

    
    
       
       
    

