   

    h1{
        color: blue;
    }

    #titulo{
        font-size: 30px;
        text-align:center ;
    }

    .texto{
        text-align: justify;
        font-size: 20px;
        color: blue;
       }

       #banner{
        width: 50%;
        margin: 24px;
        padding: 16px;
        border-radius: 25px;
    }


       body{
        background: #95d2d6b0
    }

    .cabecalho{
        padding: 20px;
        background-color: #00ff87;
        border-bottom: 2px solid  white;
        font-size: 32px;
        color: white;
        display: flex;
        justify-content: space-around;
    }

    .menu{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }

    .Contatos{
        background-image:linear-gradient(#45caff,  #00ff87);
        width: 400px ;
        color: white

    }

    
    
       
       
    

